# begin eclipse java
*.pydevproject
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.dex
*.cache
*.apk
*.ap_
GoogleMapsSamsungS/bin/classes/*
GoogleMapsSamsungS/bin/dexedLibs/*
GoogleMapsSamsungS/bin/res/*
# end eclipse java